<div>
	<div >
		<span>{{defectController.defect.defectId}}  (cell 1)  </span>
	</div>
	<div>
		<span>{{defectController.defect.status.statusName}}  (cell 2)  </span>
<!-- 		<span>{{defectController.defect.defectId}}</span>
		<input type="text" ng-model="defectController.defect.status.statusName"></input>
		<input type="text" ng-model="defectController.defect.addresse" ng-model-options="{ updateOn: 'blur' }"></input>		<span ng-model="addresse" ng-model-options="{ debounce: 500 }"></span> -->
	</div>
</div>