<div class="detail-info">
	<h2>Просмотр сведений о дефекте</h2>	
	<defect-form disabled="true" defect="detailInfoController.defect" ng-model="detailInfoController.defect"></defect-form>
	<div class="container">
		<div class="col-xs-12">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-xs-offset-10 col-xs-2">
						<div class="button-row">
							<input type="button" class="btn btn-default" ng-click="detailInfoController.onClick()" id="ok-button" tabindex="1" value="Ok"></input>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
