<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Аутентификация пользователя</title>
		<script src="/public/lib/jquery-3.2.1.js"></script>
		<script src="/public/lib/masked-input-1.4.1.js"></script>
<!-- 		<script src="/public/lib/angular/angular.min.js"></script>
 -->		<!-- <script src="./bootstrap-3.3.7-dist/js/bootstrap.js"></script> -->
		<link rel="stylesheet" href="/public/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="/public/css/bootstrap-theme.css"> -->
		<style>
			body {
				background-image: url('/public/images/bg-lightl-904.jpg');
				background-size: cover;
			}
			
			.error {
				border-color: red;
			}
			
			#sbm-button {
				font-weight: bold;
			}
		
		</style>
	</head>
	<body>
		<div class="container">
		<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			<h2>Вход в приложение</h2>
		</div>
		</div>
		<form method="POST" action="login" id="loginForm" class="form-horizontal">
			<div class="form-group">
				<label for="login" class="col-sm-3 control-label">Имя пользователя:</label>
				<div class="col-sm-6">
					<input class="form-control" name="username" type="text" id="login" tabindex="1" autofocus min="0" />
				</div>
			</div>
			<div class="form-group">
				<label for="pwd" class="col-sm-3 control-label">Пароль:</label>
				<div class="col-sm-6">
					<input class="form-control" name="password" type="password" id="pwd" tabindex="2" min="0" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-6">
					<button class="btn btn-default" type="submit" tabindex="5" id="sbm-button">Отправить</button>
				</div>
			</div>
		</form>
		</div>
		<script src="/public/js/auth.js"></script>
	</body>
</html>