<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/public/js/home.js" type="text/javascript"></script>
</head>
<body>
	<h1>Hello my Lord!</h1><hr>
	<script>
		home.hello();
	</script>
</body>
</html>