*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}

body input:focus:required:valid,
body textarea:focus:required:valid {
	
}

body {
	font-family: "RobotoRegular", times;
	font-size: 16px;
	background-color: #ded;
}

form {
	z-index: 1;
}

button:focus {
	outline-style: none;
}

.top-header {
	height: 20vh;
	max-height: 20vh;
}

.header-topline {
	background-color: #43484C;
	padding: 15px 0;
	color: #fff;
	font-size: 32px;
	height: 72px;
}

.logo {
	float: right;
	display: inline-block;
	text-align: right;
	vertical-align: bottom;
}

.main-menu {
	background-color: #4AAA77;
	height: 58px;
	max-height: 58px;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

.main-menu ul li {
	display: inline-block;
}

#config-menu {
	display: none;
}

.main-menu a {
	color: #fff;
	display: block;
	padding: 15px;
	font-size: 20px;
	text-transform: uppercase;
}

.main-menu a:hover {
	background-color: #3A8A70;
	text-decoration: none;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.main-menu-button {
	background-color: transparent;
	border: medium none;
	color: #fff;
	font-size: 20px;
	padding: 15px;
}

.loading-indicator {
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	cursor: none;
	background-color: #ddd;
	opacity: 0.9;
}

.loader {
	position: relative;
	top: 50%;
	left: 50%;
	height: 30px;
	width: 30px;
}

@-webkit-keyframes loader {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
 
@-moz-keyframes loader {
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
 
@keyframes loader {
	100% {
		transform: rotate(360deg);
	}
}
 
.loader {
	width: 35px;
	position: absolute;
	height: 35px;
	border: 6px solid #43484c;
	border-left-color: #677077;
	border-bottom-color: #98a0a7;
	border-right-color: transparent;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	-webkit-animation: loader 0.5s infinite linear;
	-moz-animation: loader 0.5s infinite linear;
	animation: loader 0.5s infinite linear;
}

.main-content {
	max-height: 80vh;
	height: 80vh;
	font-family: "RobotoCondensedRegular", times;
}

.users-link {
	font-size: 24px;
	color: #43484c;
}

.list-header {
	height: 10vh;
	max-height: 10vh;
	background-color: #ADA;
	padding-top: 5px;
}

.list-item-header {
	height: 57px;
	font-family: "RobotoCondensedBold", times;
	font-size: 14px;
	text-align: center;
	border-left: 1px groove #BFD;
}

.list-item-data {
	font-family: "RobotoCondensedRegular", times;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}

.even .row {
	background-color: #badaba;
}

.list-data {
	height: 60vh;
}

.list-data a {
	color: #000;
}

.list-data a:hover {
	color: #01f !important;
}

.list-data a:visited {
	color: #000;
}

.list-data .list-data-row {
	position: relative;
}

.list-data .edit-delete-buttons {
	display: inline-block;
	position: absolute;
	right: -12px;
	top: 0;
	z-index: 10;
}

.list-data .edit-delete-buttons a {
	background-color: transparent;
	opacity: 0.1;
	color: #43484c;
}

.list-data .edit-delete-buttons .edit-btn:hover {
	opacity: 1;
	color: #f5e409 !important;
}

.list-data .edit-delete-buttons .delete-btn:hover {
	opacity: 1;
	color: #f00 !important;
	cursor: pointer;
}

.list-data .edit-delete-buttons a:visited {
	opacity: 0.05;
	color: #43484c;
}

.list-data .container {
	height: 100% !important;
}

.list-data .row {
	height: 100% !important;
}

.list-data-buttons {
	margin-top: 10px;
}

.list-data-buttons a {
	font-size: 20px;
	margin-right: 10px;
	background-color: #43484c;
	display: inline-block;
	text-align: center;
	width: 40px;
	border: 1px solid #43484c;
	border-radius: 5px;
}

.list-data-buttons i {
	width: 36px;
	display: inline-block;
	color: #fff;
}

.list-data-buttons .fa-plus {
	color: #2ad016;
}

.list-data-buttons .filter-btn:hover {
	cursor: pointer;
}


.apd-item {
	background-color: transparent;
	width: 100%;
	height: 100%;
	border: 0 solid transparent;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #43484C;
}

.detail-info h2, .filter-form h2 {
	color: #fff;
}

.detail-info, .filter-form {
	position:absolute;
	top: 0;
	left:0;
	height:100%;
	width:100%;
	background:#43484C;
	opacity: 0.9;
	z-index:20;
}

.filter-form .main {
	height: 78%;
}

.filter-form .footer {
	height: 10%;
	text-align: right;
	margin-top: 10px;
}

 .filter-form .filter>div {
	margin-top: 10px;
} 

.defect-add, .defect-edit {
	position:absolute;
	top: 0;
	left:0;
	height:100%;
	width:100%;
	background:#ddd;
	opacity: 0.9;
	z-index:10;
}

.button-row {
	display: block;
}

.defect-add .btn,
.defect-edit .btn {
	border-color: #4AAA77;
}

.defect-form .form-group,
.config-form .form-group {
	margin-bottom: 10px;
}

.defect-form .form-control {
	font-family: "RobotoCondensedRegular", times !important;
	color: #43484C !important;
	font-size: 14px;
	background-color: #fff;
	border-color: #4AAA77;
}

.detail-info .defect-form .form-control,
.filter-form .form-control {
	font-family: "RobotoCondensedRegular", times !important;
	color: #00f !important;
	font-size: 14px;
	background-color: #fff;
	border-color: #43484C;
	/* text-align: right; */
}

.detail-info .defect-form .form-control {
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none; 
}

.config-form .form-horizontal label {
	padding-top: 7px;
}

.defect-form * {
	font-family: "RobotoCondensedRegular", times !important;
}

.detail-info .defect-form .form-control:disabled, 
.detail-info .defect-form .form-control:hover {
	color: #00f !important;
	font-size: 14px;
	cursor: default;
}

.detail-info .defect-form select::-ms-value {
	color: #00f !important;
	font-size: 14px;
	cursor: default;
}

.detail-info .defect-form select::-ms-expand {
  display: none;
}

.defect-form label {
	color: #43484C;
	font-weight: normal;
	font-size: 14px;
}

.detail-info .defect-form label,
.filter-form label {
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	padding-top: 7px;
}

.button-row {
	direction: rtl;
	float: right;
	text-align: center;
}

.button-row input{
	min-width: 100px;
	display: inline-block;
}

.detail-info .btn,
.defect-add .btn,
.defect-edit .btn,
.filter-form .btn {
	align-items: right;
	min-width: 80px;
	margin-left: 5px;
	display: inline-block;
}

.cell {
	display: inline-block;
}

.login * {
	font-weight: normal !important;
	text-transform: uppercase;
}

.login input {
	text-transform: none;
}

.vs-repeat td {
	height: 40px !important; 
	overflow: auto;
	border: 2px solid rgb(30,30,30);
	border-radius: 4px;
}

.repeater-container {
	display: block;
	height: 120px;
	width: 120px;
	overflow: auto;
}

.overlay {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#000;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:50;
	cursor: wait;
}
		
/*************** SCROLLBAR BASE CSS ***************/

/* Styles specific to this particular page */
.scroll-pane,
.scroll-pane-arrows {
	width: inherit !important;
	height: inherit !important;
	overflow: auto;
	outline: 0;	
}

.horizontal-only {
	height: auto;
	max-height: 200px;
}

.jspCap {
	display: block;
	background: #eeeef4;
}
/* вертикальная полоса прокрутки */
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;   /* можно прижать к правому или левому краю */
	width: 10px !important;   /* ширина полосы прокрутки */
	height: 100%;
	background-color: transparent;
}

.jspPane {
	width: 100% !important;
}

/* полоска, по которой бегает ползунок */
.jspTrack {
	background: #eee;  /* цвет полосы, или фоновый рисунок  */
	position: relative;
}

.jspTrack:hover {
	background: #eee;  /* цвет полосы, или фоновый рисунок  */
}
/* сам ползунок */
.jspDrag {
	background: #888;  /* цвет ползунка, или фоновый рисунок  */
	opacity: 0.5;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	min-height: 20px !important;
	width: 10px;
	border-radius: 4px;
}

.jspDrag:hover {
	opacity: 1;
}
/* стрелки для прокрутки */
.jspArrow {
	background: #50506d;  /* фон стрелки */
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
/* стили для неактивной стрелки */
.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}
/* этими правилами можно задать различные стили для вертикальных и горизонтальных стрелок */
.jspVerticalBar .jspArrow {
	height: 0px;
}

/* стили для уголка - квадратной зоны где сходятся полосы прокрутки */
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* кроме того можно задать стили для каждой стрелки отдельно (этих правил изначально в jquery.jscrollpane.css нет!) */

.jspArrowUp {}
.jspArrowDown {}
.jspArrowLeft {}
.jspArrowRight {}

.sortable:hover {
	cursor: pointer;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE;
  font-size: 12px;
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE;
  font-size: 12px;
}

.user-list {
	position:absolute;
	top: 0;
	left:0;
	height:100vh;
	width:100%;
	background:#43484C;
	opacity: 0.93;
	z-index:20;
}

.user-list-headers {
	height: 30vh;
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}

.user-list-headers h2 {
	color: #fff;
	margin-bottom: 41px;
	margin-top: 0;
	padding-top: 68px;
	font-size: 30px;
}

.user-list-content {
	height: 60vh;
}

.user-list-content .form-control {
	min-width: 41px;
}

.user-list-content .user-list-item {
	margin-bottom: 10px;
}

.user-list-item .disabled {
	background-color: #ccc;
}

.user-list a {
	font-size: 20px;
	margin-right: 10px; 
}

.user-list a:hover {
	cursor: pointer;
}

.user-list-content .save-btn {
	color: yellow;
}

.user-list-content .delete-btn {
	color: red;
}

.user-list .add-btn {
	color: green;
}

.user-list-footer {
	height: 10vh;
}


.user-list .add-btn-row {
	margin-top: 10px;
}

.user-list .add-btn-row a {
	font-size: 20px;
	margin-right: 10px;
	background-color: #fff;
	display: inline-block;
	text-align: center;
	min-width: 40px;
	width: 100%;
	border: 1px solid #fff;
	border-radius: 5px;
}

.user-list .add-btn-row i {
	width: inherit;
	display: inline-block;
	color: #fff;
}

.user-list .add-btn-row .fa-plus {
	color: #2ad016;
}