<div class="row">
	<div class="col-xs-12">
		<div class="row hidden-lg">
			<div class="col-xs-12" >
				<div class="row">
					<div class="col-xs-1 list-item-data xs-hidden sm-hidden">
						{{defectController.defect.defectId}}
					</div>
					<div name="appearanceDateString" class="col-xs-2 list-item-data xxs-hidden" class="appearanceDateString">
						{{'' + (defectController.defect.appearanceDate.getDate() < 10 ? '0' + defectController.defect.appearanceDate.getDate() : defectController.defect.appearanceDate.getDate()) + '/' + (defectController.defect.appearanceDate.getMonth() < 9 ? '0' + (+defectController.defect.appearanceDate.getMonth()+1) : (defectController.defect.appearanceDate.getMonth()+1)) + '/' + (defectController.defect.appearanceDate.getFullYear()-2000) }}	
					</div>
					<div class="col-xs-2 list-item-data xmd-hidden">
						{{defectController.defect.beginPoint}}						
					</div>
					<div class="col-xs-2 list-item-data xmd-hidden">
						{{defectController.defect.endPoint}}
					</div>
					<div class="col-xs-9 list-item-data xmd-visible">
						{{defectController.defect.addresse}}
					</div>
					<div class="col-xs-2 list-item-data xmd-hidden">
						{{defectController.defect.addresse}}
					</div>
					<div class="col-xs-2 list-item-data xmd-hidden">
						{{defectController.defect.character.characterName}}
					</div>
					<div class="col-xs-1 list-item-data xmd-hidden">
						{{defectController.defect.diameter.diameterValue}}
					</div>					
				</div>
			</div>
		</div>
		<div class="row hidden-xs hidden-sm hidden-md">
			<div class="col-xs-7">
				<div class="row">
					<div class="col-xs-1 list-item-data">
						{{defectController.defect.defectId}}
					</div>
					<div name="appearanceDateString"  class="col-xs-2 list-item-data" class="appearanceDateString">
						{{'' + (defectController.defect.appearanceDate.getDate() < 10 ? '0' + defectController.defect.appearanceDate.getDate() : defectController.defect.appearanceDate.getDate()) + '/' + (defectController.defect.appearanceDate.getMonth() < 9 ? '0' + (+defectController.defect.appearanceDate.getMonth()+1) : (defectController.defect.appearanceDate.getMonth()+1)) + '/' + (defectController.defect.appearanceDate.getFullYear()-2000) }}	
					</div>
					<div class="col-xs-3 list-item-data">
						{{defectController.defect.beginPoint}}
					</div>
					<div class="col-xs-3 list-item-data">
						{{defectController.defect.endPoint}}
					</div>
					<div class="col-xs-3 list-item-data">
						{{defectController.defect.addresse}}
					</div>					
				</div>
			</div>
			<div class="col-xs-5">
				<div class="row">
					<div class="col-xs-4 list-item-data">
						{{defectController.defect.master.masterName}}
					</div>
					<div class="col-xs-3 list-item-data">
						{{defectController.defect.equipmentType.equipmentTypeName}}
					</div>
					<div class="col-xs-2 list-item-data">
						{{defectController.defect.character.characterName}}
					</div>
					<div class="col-xs-2 list-item-data">
						{{defectController.defect.diameter.diameterValue}}
					</div>
					<div class="col-xs-1 list-item-data">
						{{defectController.defect.flowValue}}
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>