<div class="list-header">
	<div class="container" >
		<div class="row">
			<div class="col-xs-12">
				<div class="row hidden-lg">
					<div class="col-xs-12" >
						<div class="row">
							<div class="col-xs-1 list-item-header xs-hidden sm-hidden">
								№
							</div>
							<div class="col-xs-2 list-item-header xxs-hidden">
								Дата
								обнаружения						
							</div>
							<div class="col-xs-2 list-item-header xmd-hidden">
								Начальная точка							
							</div>
							<div class="col-xs-2 list-item-header xmd-hidden">
								Конечная точка
							</div>
							<div class="col-xs-9 list-item-header xmd-visible">
								Адрес
							</div>
							<div class="col-xs-2 list-item-header xmd-hidden">
								Адрес
							</div>
							<div class="col-xs-2 list-item-header xmd-hidden">
								Характер
							</div>
							<div class="col-xs-1 list-item-header xmd-hidden">
								D
							</div>					
						</div>
					</div>
				</div>
				<div class="row hidden-xs hidden-sm hidden-md">
					<div class="col-xs-7">
						<div class="row">
							<div class="col-xs-1 list-item-header">
								№
							</div>
							<div class="col-xs-2 list-item-header">
								Дата обнаружения							
							</div>
							<div class="col-xs-3 list-item-header">
								Начальная точка
							</div>
							<div class="col-xs-3 list-item-header">
								Конечная точка
							</div>
							<div class="col-xs-3 list-item-header">
								Адрес
							</div>					
						</div>
					</div>
					<div class="col-xs-5">
						<div class="row">
							<div class="col-xs-4 list-item-header">
								Мастер
							</div>
							<div class="col-xs-3 list-item-header">
								Оборудование
							</div>
							<div class="col-xs-2 list-item-header">
								Характер
							</div>
							<div class="col-xs-2 list-item-header">
								Диаметр
							</div>
							<div class="col-xs-1 list-item-header">
								V
							</div>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="list-data">
	<div class="container">
		<div class="row">
			<div class="scroll-pane">
				<div>
					<div class="col-xs-12">
						<div class="list-data-row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="$defect in defectListController.defects track by $defect.defectId">
							<a ui-sref="detail-info({defectId: $defect.defectId})">
								<defect-item defect="$defect" class="defect-item">
								</defect-item>
							</a>
							<div class="edit-delete-buttons" ng-if="defectListController.getUserRights()<2">
								<a ui-sref="defect-edit({defectId: $defect.defectId})" class="edit-btn">
									<i class="fas fa-edit"></i>
								</a>
								<a ng-click="defectListController.onDelete($defect.defectId)" class="delete-btn">
									<i class="fas fa-times"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="list-data-buttons">
			<div class="row">
				<a class="add-btn" ui-sref="defect-add" ng-if="defectListController.getUserRights()<2">
					<i class="fas fa-plus"></i>
					<!-- <i class="fas fa-plus-square"></i> -->
				</a>
				<a class="filter-btn" ui-sref="list-filter">
					<i class="fas fa-filter"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<ui-view>
	<!-- <loading-indicator class="loader"></loading-indicator>	 -->
</ui-view>
<script>
	$('.scroll-pane').jScrollPane({
		autoReinitialise: true,
		showArrows: false,
		horizontalGutter: 5,
		mouseWheelSpeed: 50,
	});
</script>