<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
	<script src="/public/js/home.js"></script>

	<!-- <script src="/public/lib/angular/angular.js"></script> -->
<!-- 	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 -->	
 	<title>Document</title>
	
	<style>
		body {
			background-image: url('/public/images/bg-lightl-904.jpg');
			background-size: cover;
		}

		.overlay {
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			background:#000;
			opacity:0;
			filter:alpha(opacity=0);
			z-index:50;
			cursor: wait;
		}
		
		.container {
			position:absolute;
			opacity:1;
		}
	</style>
</head>
<body ng-app="ngApp">	
	<h1>Hello my Lord!</h1><hr>
	<button id="btnGetAll" >Get All</button>
	<div id="divMain"></div>
	<a ui-sref="happy">Happy</a>
	<ui-view ui-sref="happy"></ui-view>
	<script type="text/javascript">
		//alert('HELLO');
		home.hello();
	</script>
</body>
</html>